.header {
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}

.Status-Colum {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

app-status {
    height: 530px;
    width: 22%;
    background: #cfd8f6;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px 15px;
    margin: 20px;
    background-color: #3f3f3f;
    color: white;
    border-radius: 6px;
}